.complete {
  background-color: green;
}
h2 {
  background-color: #641723;
  color: #E8DFC4;
  padding: 10px;
}
#tableHead {
  font-size: 15px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#task {
  width: 50%;
}
#task, #location {
  height: 25px;
  padding-top: 10px;
  padding-bottom: -15px;
  font-size: 25px;
}
#task-div {
  background-color: #E8DFC4;
  text-align: center;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
};
body, h1 {
    margin: 0;
  }
  
body {
    font-family: sans-serif;
    /* background-color: rgb(209, 209, 209); */
  }
  
header {
    padding: 1rem;
    background-color: #641723;
    color: #E8DFC4;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
  }

#tableWrapper, #tableWrapper td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 12px;
}
